 <!-- About Section -->
    <section class="blank" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{% t site.about.about %}</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-10 col-lg-offset-1">
                  <p>{% t site.about.a %} - <a href="http://www.pucrs.br">PUCRS</a>. {% t site.about.b %} - <a href="http://www.inf.pucrs.br/gpin/">GPIN</a> {% t site.about.c %} <a href="http://www.pucrs.br">PUCRS</a>.</p>
                  <p>{% t site.about.d %} - <a href="http://www.ufsm.br">UFSM</a> {% t site.about.e %}.</p>
                  <p>{% t site.about.f %} - <a href="http://www.ufsm.br">UFSM</a> {% t site.about.g %}.</p>
                  <p>{% t site.about.h %} <a href="http://www.deliverymuch.com.br">Gruboo</a>, {% t site.about.i %} <a href="http://www.deliverymuch.com.br">Delivery Much</a>.</p>
                  <p>{% t site.about.j %}. </p>
                  <p>{% t site.about.k %}. </p>
                  <p>{% t site.about.l %} <a href="https://www.python.org">Python</a>, <a href="https://www.r-project.org">R</a>
                      {%t site.about.m %} <a href="http://rubyonrails.org">Ruby on Rails</a>.</p>
              </div>
            </div>
        </div>
    </section>
