<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>CUsTOMEr: a novel Customer chUrn PredicTion MethOd based on Mobile application usagE</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/fcd.png" class="img-responsive img-centered" alt="">
                        <p> Technological innovation and ﬁerce dispute to conquer the mobile device market make manufacturers
                            and telecommunication companies increase their attention to the loyalty of their clients. In this sense,
                            customer churn prediction is particularly important, and recently received more attention from
                            aforementioned companies, mainly those that merchandise mobile devices. Besides helping users
                            in their daily activities, these devices provide to manufacturers a large amount of data, as application
                            usage and battery consumption. It is important for companies to know how customers use their applications.
                            Automated tools are needed to collect this large amount ofdata and help companies to understand
                            customer’s behavior throughout time, seeking to prevent customer abandonment. Based on this, this work
                            proposes an innovative and effective method to manage and predict customer churn based on mobile application
                            usage. In order to investigate the distribution of data throughout time, the proposed method processes
                            application usage data, based on techniques of data stream clustering (where customers are grouped by their
                            behavior) and based on novelty detection. Our tests show an accuracy rate of 87%, a satisfactory performance
                            in this context.</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Ph.D Research</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">2015-Present</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Research of a Novel Framework</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/mobile.png" class="img-responsive img-centered" alt="">
                        <p>Motorola Mobility Comercio de Produtos Eletrônicos LTDA, doravante denominada MOTOROLA, tem interesse
                            em estabelecer atividades de cooperação através de processos de parceria. O Instituto de Pesquisas
                            Eldorado, doravante denominado ELDORADO, é reconhecido pelo Comitê da Área da Tecnologia da Informação (CATI)
                            para receber recursos e desenvolver projetos pela Lei de Informática, e está totalmente capacitado para
                            atender à demanda de Pesquisa e Desenvolvimento (P&D) de parceiros em diversos segmentos. Além de projetos
                            desenvolvidos por meio da Lei de Informática, o ELDORADO desenvolve projetos por meio da Lei do Bem,
                            do Programa CI-Brasil, PADIS e Sistema Brasileiro de Tecnologia - Sibratec, programas que contribuem
                            para o desenvolvimento tecnológico das empresas brasileiras. A Pontifícia Universidade Católica do Rio
                            Grande do Sul (PUCRS), por sua vez, tem compartilhado seus conhecimentos e experiências, com ênfase no
                            desenvolvimento de pesquisa em Ciência da Computação. A MOTOROLA, em parceria com o ELDORADO, tem interesse
                            no desenvolvimento de estudos e pesquisas na área de Big Data, especificamente em análise, pré-processamento
                            e padronização de dados. O programa de pós-graduação em Ciência da Computação (PPGCC) da PUCRS tem o
                            Grupo de Pesquisa em Inteligência de Negócio e Aprendizado de Máquina (GPIN) cujos alguns dos principais
                            interesses em pesquisa alinham-se aos interesses da MOTOROLA. Com efeito, no período de Março/2015 a
                            Fevereiro/2016 o ELDORADO e a PUCRS estabeleceram o projeto Mobile Data Analytics do qual este projeto
                            é sucessor. O conteúdo previsto neste projeto é uma atividade complementar ao Projeto Analytics, firmado
                            entre o ELDORADO e a MOTOROLA. Para tanto, pesquisadores do PPGCC-FACIN-PUCRS, em uma colaboração
                            sinérgica com o ELDORADO, proporcionarão à MOTOROLA experiência em análise de grandes bancos de dados
                            e em mobilidade de código em dispositivos móveis. Durante o curso do projeto, uma equipe de pesquisadores
                            sêniores será responsável pela continuidade na formação de pessoal qualificado, a fim de atender as
                            necessidades do projeto em relação à análise de dados, pré-processamento e descoberta de padrões em
                            grandes quantidades de dados, e em mobilidade de código em dispositivos móveis. Os pesquisadores têm
                            longa experiência em áreas como a aprendizado de máquina, mineração de dados, análise de dados,
                            computação em nuvem e computação de alto desempenho, proporcionando um ambiente multidisciplinar
                            ideal para a pesquisa e formação de pessoal de alta qualidade em analytics e business intelligence.</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Ph.D. Research</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">2015-present</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Research of a Novel Framework</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>CBR for experience-based collaborative risk management</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/CBR.png" class="img-responsive img-centered" alt="">
                        <p>In a collaborative risk management scenario, project stakeholders often need natural
                            forms of recording and reusing past risk management experiences so that they could
                            better assess whether there are threats to the goals of new projects. The contribution
                            of this paper is to propose an enhanced case-based reasoning (CBR) approach to support
                            project participants to exploit such experiences which are here expressed as
                            collaborative risk management discussion cases. This study shows how these debates are
                            structured through the exploitation of a dialogue game protocol for risk management.
                            Then, it allows  users to utilize queries based on facts and arguments so that
                            past risk discussion cases could be retrieved from a case base. Attention is also given
                            to case-based explanation templates, which are relevant for the understanding of key
                            moves of argumentation in debate trees recorded in such enhanced cases retrieved.</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">M. A. Research</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">2013-2015</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Research of Novel Approach</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>RD System</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/tela%20de%20tudo.jpg" class="img-responsive img-centered" alt="">
                        <p>Especialistas em diferentes domínios de aplicação tendem a narrar o seu conhecimento na
                            forma de experiências de solução de problemas. Nestas aplicações, significante partes
                            deste conhecimento são descritas não somente em termos de dados e conclusões, mas
                            também por coleções de argumentos informais. O problema é que esses conjuntos de pros e
                            contras, componentes fundamentais de explicações e julgamentos em aplicações típicas de
                            Raciocínio Baseado em Casos, são ainda pouco investigados, ou muitas vezes completamente
                            não explorados, no suporte ao desenvolvimento de sistemas inteligentes inovadores em
                            diferentes áreas. Portanto, o objetivo do projeto é (1) a proposta de técnicas de
                            representação de conhecimento voltadas para a captura e organização dos argumentos
                            oferecidos por usuários em casos de solução de problemas e (2) a descrição de métodos
                            que permitam a consulta dos dados, argumentos e conclusões gravados nestes casos de
                            forma que eles possam ser usados como uma parte integral de sistemas inteligentes. A
                            validação da pesquisa deve ser voltada para um domínio de aplicação: análise de riscos
                            em engenharia de software.</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">M.A. Research</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">March 2015</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Research and Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
