<section class="blank" id="posts">
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
              {% for p in site.posts %}
              <a href="{{p.url}}">
                <h2 class="post-title">
                  {{ p.title }}
                </h2>
              </a>
              <h3 class="post-subtitle">
                {{ p.excerpt }}
              </h3>
              <p class="post-meta">Posted by
                <a href="#">{{p.author}}</a>
                on {{p.date | date: '%B %d, %Y'}}</p>
                {% endfor %}
            </div>
          </div>
        </div>
    </div>
</section>
