<!-- Publications Section -->
<section class="success" id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{% t site.publications.title %}</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <p style="color: #18bc9c">Proceedings of Conferences</p>
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th style="color: #18bc9c">2017</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-size: medium">MACHADO, N. L.; RUIZ, D. D. A. CUsTOMEr: a novel Customer chUrn predicTionmethOd based on Mobile application usagE. In: The 13th International Wireless Communications and Mobile Computing Conference (IWCMC 2017), 2017, Valencia, Spain. Proceedings of the 13th International Wireless Communications and Mobile Computing Conference (IWCMC 2017). Piscataway, NJ, USA: IEEE press, 2017. v. 1. p. 2146-2151. <a href="https://www.researchgate.net/publication/318281080_CUsTOMEr_a_novel_Customer_chUrn_predicTion_methOd_based_on_Mobile_application_usagE">PDF</a></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th style="color: #18bc9c">2014</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-size: medium">MACHADO, N. L.; SILVA, L. A.; FONTOURA, L. M.; & CAMPBELL, J. A. Case-based reasoning for experience-based collaborative risk management. In: International Conference on Software Engineering & Knowledge Engineering (SEKE 2014), 2014, Vancouver, Canada. Proceedings of the Twenty-Sixth International Conference on Software Engineering & Knowledge Engineering. Skokie, Illinois, USA: Knowledge System Institute, 2014. p. 262-267. <a href="https://www.researchgate.net/publication/265161876_Case-based_Reasoning_for_Experience-based_Collaborative_Risk_Management">PDF</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--<div class="col-lg-8 col-lg-offset-2 text-center">-->
                <!--<a href="#" class="btn btn-lg btn-outline">-->
                    <!--<i class="fa fa-download"></i> Download Theme-->
                <!--</a>-->
            <!--</div>-->
        </div>
    </div>
</section>
